*.pyc
src/thumbstick-object-control.js
src/tetris.js
src/keyboard-hand-controls.js
src/key-bindings.js
src/6dof-object-control.js
src/instanced-mesh.js
pages/perf-test.html
src/blocks.js
CNAME
src/backend/instance/hiscores.sqlite
*.sqlite

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
